<div class="container-fluid d-flex justify-content-center align-items-center mt-1">
    <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
        <h3 class="text-center mb-2">Cadastro de Cliente</h3>
        <form id="formCadCliente">

            <div class="mb-1">
                <label for="oficina" class="form-label">Oficina</label>
                <select id="oficina" class="form-select" required>
                    <option value="">Selecione...</option>
                    {{#each oficinas}}
                    <option value={{this.cnpj}}>{{this.fantasia}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-1">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite o nome do cliente" required
                    maxlength="30">
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="email@gmail.com" required
                    maxlength="30">
            </div>
            <div class="mb-2">
                <label for="telefone" class="form-label">Número de Telefone</label>
                <input type="tel" class="form-control" id="telefone" placeholder="11987654321" required
                    maxlength="11">
            </div>
            <div class="mb-1">
                <label for="nome" class="form-label">Senha Para Acesso</label>
                <input type="password" class="form-control" id="senhaPigente" placeholder="Senha Para Acesso" required
                    maxlength="30" minlength="5">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-secondary mt-2" id="btnCadastrar">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/cadCliente/cadCliente.js"></script>