<body class="bg-secondary">
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Login</h3>

                        <form id="loginEvent">
                            <div class="mb-3">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail"
                                    required>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="password" placeholder="Digite sua senha"
                                    required>
                            </div>

                            <div class="mb-3">
                                <p class="text-decoration-none text-secondary text-center">
                                    Se esqueceu a senha, entre em
                                    contato com
                                    o suporte: (11) 97471-8743
                                </p>
                            </div>
                            <button type="submit" class="btn btn-secondary w-100">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/js/login/login.js"></script>