<!-- Navbar -->
{{> navBar }}

<!-- Menu Central -->
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
            <button class="btn btn-outline-secondary w-100 p-5" id="listaClientes">
                <i class="bi bi-person-lines-fill">
                    Lista de Clientes
                </i>
            </button>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
            <button class="btn btn-outline-secondary w-100 p-5" id="servicos">
                <i class="bi bi-tools">
                    Serviços
                </i>
            </button>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
            <button class="btn btn-outline-secondary w-100 p-5" id="dashBoard">
                <i class="bi bi-tools">
                    Dashboard
                </i>
            </button>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
            <button class="btn btn-outline-secondary w-100 p-5" id="btnLogout">
                <i class="bi bi-door-open">
                    Sair
                </i>
            </button>
        </div>
    </div>
</div>
<script src="../js/menuPrincipal/menuPrincipalOficina.js"></script>