<nav class="navbar bg-secondary">
    <div class="container-fluid justify-content-center">
        <span class="text-white text-center w-100" id="fantasia">
            Empresa XPTO LTDA
        </span>
        <span class="text-white text-center w-100" id="cnpj">
            CNPJ: 12.345.678/0001-99
        </span>
    </div>
</nav>

<script src="../../js/navbar/navbar.js"></script>